@media screen and (max-width: 600px) {
  .-infotabs {
    gap: 25px;
  }

  .container {
    display: block;
    height: auto;
  }

  .main-header {
    display: none;
  }

  .main-section {
    width: 100%;
    padding: 0;
  }

  .main-section {
    height: max-content;
  }

  .container-perfil {
    display: block;
  }

  .container-image {
    height: 56%;
  }

  .profile-photo {
    width: 30%;
  }

  .profile-photo:hover {
    width: 30%;
  }

  .name {
    padding: 5px 10px;
  }

  .list {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
  }

  .list-items:nth-child(1),
  .list-items:nth-child(2) {
    display: none;
  }

  .name {
    font-size: 2rem;
    text-align: center;
  }

  .container-tabs {
    padding: 18px 10px;
    display: block;
    margin-bottom: 20px;
  }

  .container-text {
    width: 100%;
    margin: 0px;
  }

  .container-text p {
    font-size: 20px;
  }

  .container-text h2 {
    display: none;
  }

  .container-title {
    padding: 0.5rem;
  }

  .container-title h1 {
    font-size: 25px;
  }

  .carrer {
    background: transparent;
  }

  /* Col */

  .col-5 {
    width: 100%;
    height: auto;
  }

  /* Carrer */

  .card-icon {
    width: auto;
    display: inline-block;
  }

  .container-icons {
    display: flex;
    gap: 15px;
  }

  .container-cmg-soon {
    display: flex;
  }

  .container-form {
    gap: 0px 0px;
  }

  .container-icon-form {
    display: flex;
  }

  .icon-linkedin {
    width: unset;
  }

  .contact-icon {
    width: 80px;
  }

  .container-tabs.projects {
    background-color: unset;
  }
}
