@import url("components/main-section.css");
@import url("components/btn.css");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/container-tabs.css");
@import url("components/container-content.css");
@import url("components/icons.css");
@import url("components/container.css");
@import url("components/columns.css");
@import url("components/main-form.css");
@import url("components/working.css");
@import url("components/perfil.css");
@import url("components/card-icon.css");

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ff9741;
    --color-white: rgb(248, 248, 248);
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #212225;
    --color-extra-dark: #121314;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: rgb(0, 195, 255);
    --color-green: #3ec550;
    --color-green-variant-1: #59c767;
    --color-green-variant-2: #74d481;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --border-radius-4: 1.4rem;
    --border-radius-5: 2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --padding-2: 1.4rem;
    --padding-3: 1.6rem;
    --padding-4: 2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}