.main-section {
    display: flex;
    margin: 0 auto;
    padding: var(--padding-1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-header {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.-infotabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}