.container-cmg-soon{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.cmg-soon{
    color: var(--color-info-dark);
    font-size: 60px;
    text-align: center;
}

.coffe-cup{
    width: 40%;
    height: 40%;
}