.btn {
    margin: 5px;
    padding: .8rem 1.4rem;
    border-radius: var(--border-radius-3);
    font-size: 1.2rem;
    width: 30%;
    font-weight: 600;
}

@media screen and (min-width: 1600px){
    .btn{
        font-size: 1.2rem;
    }
}